.wp-block[data-align="wide"] {
  max-width: 1200px;
  width: 100%;
}
#menu-management .menu-item [data-name="link_target"] {
  position: relative;
  margin-bottom: 15px;
}
#menu-management .menu-item [data-name="link_target"] .acf-input {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#menu-management .menu-item [data-name="link_target"] .acf-label {
  padding-left: 23px;
}
#menu-management .menu-item [data-name="link_target"] .acf-label label {
  font-style: normal;
}

[data-name="repeatable_blocks"] [data-name="content"] iframe {
  height: 200px!important;
}
[data-name="repeatable_blocks"] [data-name="text_content"] .mce-last.mce-btn-group {
  border-left: none!important;
}
.acf-flexible-content [data-layout="flexible_blocks"] [data-layout="twocolumn"] .acf-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.acf-flexible-content [data-layout="flexible_blocks"] [data-layout="twocolumn"] .acf-fields .acf-field-wysiwyg {
  width: 50%;
}
.acf-flexible-content [data-layout="flexible_blocks"] > .acf-fields {
  display: flex;
  flex-wrap: wrap;
}
.acf-flexible-content [data-layout="flexible_blocks"] > .acf-fields .acf-field-flexible-content {
  width: 100%;
}
.acf-flexible-content [data-layout="flexible_blocks"] > .acf-fields .acf-field-color-picker {
  border-top: none!important;
}
.acf-field[data-name="focal_point_x"],
.acf-field[data-name="focal_point_y"] {
  width: 50%;
  float: left;
  clear: none;
}
.acf-field-flexible-content [data-layout="two_column_textblock"] .acf-field-wysiwyg {
  width: 50%;
  float: left;
  clear: none;
}
.acf-field-flexible-content [data-layout="two_column_textblock"]  .acf-field-color-picker {
  width: 20%;
  float: left;
  clear: none;
  border-top: none;
}
.acf-field-flexible-content [data-layout="two_column_textblock"] [data-name="vertical_divider"] {
  position: relative;
}
.acf-field-flexible-content [data-layout="two_column_textblock"] [data-name="vertical_divider"] .acf-input {
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 17px;
}
.acf-field-flexible-content [data-layout="two_column_textblock"] [data-name="vertical_divider"] .acf-label {
  padding-left: 25px;
}

body.post-type-tribe_events h1.wp-heading-inline {
  position: relative;
  overflow: hidden;
  color: transparent;
  min-width: 90px;
}
body.post-type-tribe_events h1.wp-heading-inline:before {
  content: "Pantries";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  z-index: 5;
  text-indent: 0;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px!important;
  margin-left: 0!important;
  background: #f0f0f1;
  width: 90px;
  color: #000;
}
.acf-field[data-name="featured_story"] {
  position: relative;
  padding-top: 0!important;
}
.acf-field[data-name="featured_story"] div.acf-label {
  position: absolute;
  top: 0;
  left: 40px;
  display: inline-block;
}
#adminmenu li#menu-posts-tribe_events a.menu-top .wp-menu-name {
  position: relative;
  overflow: hidden;
  text-indent: -99em;
}

#wp-admin-bar-root-default.ab-top-menu li#wp-admin-bar-tribe-events.menupop {
  position: relative;
  overflow: hidden;
  text-indent: -99em;
  width: 85px;
}
#wp-admin-bar-root-default.ab-top-menu li#wp-admin-bar-tribe-events.menupop:before {
  content: "Pantries";
  display: block;
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 5;
  text-indent: 0;
  color: #FFF;
}
#adminmenu li#menu-posts-tribe_events a.menu-top .wp-menu-name:before {
  content: "Pantries";
  display: block;
  position: absolute;
  top: 8px;
  left: -1px;
  z-index: 5;
  text-indent: 0;
  width: 100%;
  color: #FFF;
  padding-left: 0!important;
  margin-left: 0!important;
}

#adminmenu li#menu-posts-tribe_events a.menu-top .wp-menu-image {
  background-image: none!important;
  position: relative;
}
#adminmenu li#menu-posts-tribe_events a.menu-top .wp-menu-image:before {
  content: "\f230";
  font-family: dashicons;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
  transition: color .1s ease-in;
}

body.post-type-events .acf-field[data-name="start_date"],
body.post-type-events .acf-field[data-name="start_time"],
body.post-type-events .acf-field[data-name="end_time"] {
  width: 33.333%;
  float: left;
  clear: none;
}