div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
  overflow-wrap: normal;
  word-wrap: normal;
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  page-break-inside: avoid;
}
html, body, *, ::before, ::after  {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a,input,button,textarea {
  transition: all ease .3s;
}
a {
  color: $primary;
  &:hover {
    text-decoration: none;
  }
}
.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  color: #fff;
  background: #000;
  display:inline-block;
}
body {
  font-family: $font_primary;
  font-size: 16px;
  color: $blue;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font_primary!important;
  font-weight: bold;
  line-height: 1.2;
}
h2 {font-size: 42px;}
h3 {font-size: 38px;}
h4 {font-size: 35px;}
h5 {font-size: 30px;}
h6 {font-size: 28px;}

.site {
  overflow: hidden;
}

.skip-link {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  color: #FFF;
  background: #000;
  border-radius: 6px;
  position: absolute;
  top: -80vh;
  left: 10px;
  box-shadow: 0 5px 16px rgba(0,0,0,0.25);
  z-index: -999;
  opacity: 0;
  &:focus {
    top: 10px;
    z-index: 9999;
    opacity: 1;
  }
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.site-header {
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-logo {
    display: inline-block;
    width: 20%;
    a {
      display: block;
      width: 200px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.main-navigation {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  ul {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
  }
  ul.menu-wrapper {
    display: flex;
    align-items: center;
    a {
      display: block;
      text-decoration: none;
    }
  }
  ul.menu-wrapper > li {
    display: inline-block;
  }
  ul.menu-wrapper > li > a {
    padding: 5px 10px;
    margin:0 15px;
    color: #231F20;
    font-family: $fontNav;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}


