@font-face {
  font-family: 'AvenirNext';
  src: url('assets/fonts/avenir/AvenirNext-Regular.woff') format('woff'),
      url('assets/fonts/avenir/AvenirNext-Regular.eot') format('eot');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('assets/fonts/avenir/AvenirNext-Medium.woff') format('woff'),
      url('assets/fonts/avenir/AvenirNext-Medium.eot') format('eot');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('assets/fonts/avenir/AvenirNext-DemiBold.woff') format('woff'),
      url('assets/fonts/avenir/AvenirNext-DemiBold.eot') format('eot');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('assets/fonts/avenir/AvenirNext-Bold.woff') format('woff'),
      url('assets/fonts/avenir/AvenirNext-Bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
